@inherits MobileContactManagerComponentBase
@if (DataContext is null)
{
    return;
}
@if (DataContext.ContactChosen is null)
{
    return;
}
<LeftOverLayout>
    <TopContent>
        <div class="@css1.Bold">Notes:</div>
    </TopContent>
    <MainContent>
        <MultiLineControl Value="@DataContext.ContactChosen.Notes" />
    </MainContent>
</LeftOverLayout>