@inherits MobileContactManagerComponentBase
@if (DataContext is null)
{
    return;
}
@if (DataContext.ContactChosen is null)
{
    return;
}
<LeftOverLayout>
    <TopContent>
        <div style="font-weight: bold">Driving Instructions:</div>
    </TopContent>
    <MainContent>
        <MultiLineControl Value="@DataContext.ContactChosen.DrivingInstructions" />
    </MainContent>
</LeftOverLayout>